/* 重置样式 */
body,
div,
h2,
h3,
a,
input {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/* 重置文本框 */
input,
button {
  border: none;
  outline: none;
  outline-offset: 0;
}
/* 重置按钮 */
button {
  background: initial;
  padding: 0;
}
/* 统一样式 */
input {
  width: 20px;
  height: 20px;
}
button {
  width: 100px;
  height: 30px;
  line-height: 30px;
}
/* 内容样式 */
.head {
  color: #fff;
  background-color: #000;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.head .title {
  margin: 0;
}
.head .hend {
  display: flex;
}
.head .hend .change-pic {
  position: relative;
}
.head .hend .change-pic .user-pic {
  width: 35px;
  vertical-align: bottom;
}
.head .hend .change-pic .pic-model {
  display: none;
  cursor: pointer;
  background-color: rgba(97, 69, 69, 0.5);
  position: absolute;
  top: -15px;
  right: 0;
}
.head .hend .change-pic .pic-model input {
  display: none;
}
.head .hend .change-pic .pic-model button {
  font-size: 15px;
  text-align: left;
  padding-right: 20px;
}
.head .hend .descp {
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
}
.head .hend .out {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 20px;
  margin-left: 10px;
}
.head .hend .out:hover {
  color: #fff;
}
.main {
  display: flex;
}
.main .aside-left {
  width: 200px;
  height: 74px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: #323030;
}
.main .aside-left li,
.main .aside-left .btn {
  background-color: #323030;
  color: #fff;
}
.main .aside-left .btn {
  width: 100%;
  text-align: left;
  padding-left: 15px;
}
.main .aside-left .btn:hover {
  background-color: #434040;
  color: #fff;
}
.main .aside-left .listLi {
  padding: 0;
}
.main .aside-left .listLi li {
  width: 100%;
  font-size: 12px;
  background-color: #434040;
}
.main .aside-right {
  margin: 2px;
  border: 1px solid blue;
  border-radius: 4px;
  background-color: rgba(97, 69, 69, 0.5);
  width: 100%;
  font-size: 24px;
}
.main .aside-right .shouye {
  display: flex;
  font-size: 20px;
  padding: 20px;
  justify-content: space-around;
}
.main .aside-right .shouye h3 {
  margin: 0;
  font-size: 24px;
}
.main .aside-right .shouye input {
  border: 1px solid #000;
  width: 220px;
  margin-top: 20px;
}
.main .aside-right .shouye button {
  width: 80px;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 8px;
  margin-top: 20px;
}
.main .aside-right .shouye .userBase {
  width: 20%;
}
.main .aside-right .shouye .userBase .user-uname,
.main .aside-right .shouye .userBase .user-nname,
.main .aside-right .shouye .userBase .user-email {
  display: block;
  margin-top: 25px;
}
.main .aside-right .shouye .changeBase {
  width: 40%;
}
.main .aside-right .shouye .changeBase .nickBase {
  margin-top: 25px;
}
.main .aside-right .shouye .change-pwd {
  width: 35%;
}
.main .aside-right .shouye .change-pwd .oldPwd {
  margin-top: 30px;
}
.main .aside-right .article-list {
  font-size: 15px;
}
.main .aside-right .article-list a {
  text-decoration: none;
  color: #372929;
}
.main .aside-right .article-list a:hover {
  color: #fff;
}
.main .aside-right .article-list .artList-head {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}
.main .aside-right .article-list .artList-head a {
  width: 50px;
  border: 1px solid #000;
  border-radius: 10px;
}
.main .aside-right .article-list .listAdd-model {
  display: none;
  font-size: 25px;
  width: 700px;
  height: 300px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.main .aside-right .article-list .listAdd-model .add-form {
  width: 300px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 15px;
}
.main .aside-right .article-list .listAdd-model .add-form input {
  width: 150px;
  height: 30px;
  margin-bottom: 30px;
}
.main .aside-right .article-list .listAdd-model .add-form button {
  width: 125px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #000;
  border-radius: 8px;
}
.main .aside-right .article-list .listAdd-model .add-form button:hover {
  color: #fff;
}
.main .aside-right .article-list table th,
.main .aside-right .article-list table td {
  padding-left: 20px;
}
.main .aside-right .article-list table tbody tr:hover {
  background-color: rgba(97, 69, 69, 0.2);
}
.main .aside-right .recycleBin {
  font-size: 15px;
}
.main .aside-right .recycleBin a {
  text-decoration: none;
  color: #372929;
}
.main .aside-right .recycleBin a:hover {
  color: #fff;
}
.main .aside-right .recycleBin .recycleBin-head {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-left: 20px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px 0;
}
.main .aside-right .recycleBin table th,
.main .aside-right .recycleBin table td {
  padding-left: 20px;
}
.main .aside-right .recycleBin table tbody tr:hover {
  background-color: rgba(97, 69, 69, 0.2);
}
